apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  namespace: dapr
  name: map
spec:
  type: configuration.redis
  version: v1
  metadata:
  - name: redisHost
    value: redis:6379
  - name: redisPassword
    value: ""